#importmessageabiword {
  font-style: italic;
  color: #252525;
  color: var(--primary-color);
}
#importmessageabiword > a {
  font-weight: bold;
  text-decoration: underline;
  color: #252525;
  color: var(--primary-color);
}

#importmessagefail {
  margin-top: 10px;
}

#importsubmitinput[disabled] { opacity: .6; }